/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* Fonts */
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter_18pt-Regular.ttf);
}

h1, h2, h3{
    font-family: roboto;
}

p{
    font-family: montserrat;
}

.tagline{
    font-family: inter;
}

/* Styling */
.btn{
    display: inline-block;
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
    background-color: green;
    text-align: center; 
}

.btn2{
    color: 0068FF;
    text-decoration: none;
}