/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* Fonts */
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter_18pt-Regular.ttf);
}

h1, h2, h3{
    font-family: roboto;
}

p{
    font-family: montserrat;
}

.tagline{
    font-family: inter;
}

a{
    font-family: inter;
    font-size: medium;
}

h3{
    border-left: solid 2px blue;
}

/* Styling */

.btn{
    display: inline-block;
    border-radius: 20px;
    border: solid 3px black;
    padding: 15px 50px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center; 
    color: #7D7D7D;
}

.btn:hover{
    background-color: #eeeeee;
    color: black;
}

.btn:visited{
    color: #7D7D7D;
}


.btn2{
    display: inline-block;
    border-radius: 20px;
    border: solid 3px black;
    padding: 15px 100px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center; 
    color: #7D7D7D;
}

.centerintro{
    width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

.centertekst{
    margin: auto;
    text-align: center;
    width: 400px;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #000;
  }

li{
    display: inline;
    height: 50px;
}

li:first-child{
    margin-right: auto;
}

li a{
    display: flex;
    color: #7D7D7D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color: #000;
}

li a.active{
    text-decoration: underline;
}

.h3_center{
    text-align: center;
}

.centerintro_2{
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}